body {
  padding: 50px;
  background-color: rgb(59, 120, 160);
}

h1 {
  background-color: black;
  color: white;
}

h2 {
  background-color: black;
  color: white;
}

p {
  color: white
}

h3 {
  color: white;
}


